body {
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
	line-height: 142%;
	color: #666;
	display: inline;
	margin: 0;
}

.container {
	max-width: 940px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 76px;
}

p {
	text-align: justify;
}

blockquote {
	background-color: #f8f8f8;
	padding: 0.5em 1em;
	border-left: 3px solid #E3591E;
	text-shadow: 1px 1px 0px #fff;
}

hr {
  margin: 5px 0;
  border: 0;
  border-top: 1px solid #D2D2D2;
  border-bottom: 1px solid #FCFCFC;
}

/** begin checkbox like */
b.checkbox {
	border: 1px solid #666;
	height: 12px;
	width: 12px;
	float: left;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 7px;
}

span.ok {
	font-family: "MS Gothic";
	margin-left: 2px;
	margin-top: -4px;
	float: left;	
	font-size: 130%;
}
/* end checkbox like */

.inline-block {
	display: inline-block;
}

.indented {
	margin-left: 20px;
	margin-top: -10px;
	*margin-top: 0;
	margin-bottom: 10px;
}

.push-bottom {
	margin-top: 25px;
}

.m-right {
	margin-right: 20px;
}

.footer {
	background-color: #eee;
	margin: 0;
	margin-top: 90px;
	padding-top: 20px;
	padding-bottom: 35px;
}

a {
	text-decoration: none;
	color: #1570A6;
}

a:hover {
	color: #0A4466;
}

a:visited {
	color: #1570A6;
}

a:visited:hover {
	color: #0A4466;
}

.text-red {
	color: #A80F22;
	font-weight: bold;
}

.muted {
	color: #999;
}

.username {
	*margin: 0 10px 0 0;
	vertical-align: middle;
	padding: 11px 8px 10px 8px;
	height: 36px;
	margin: 0;
}

/*** start space and position */
.row {
	display: block;
	clear: both;
	min-height: 20px;
}

.vspace {
	margin-top: 5px;
	margin-bottom: 5px;
	*margin-bottom: 0;
}

.margin-bottom {
	margin-bottom: 2px;
}

.divider {
	margin-left: 3px;
	margin-right: 3px;
	color: #C8C8C8;
}

.morevspace {
	margin-top: 15px;
	margin-bottom: 15px;
	*margin-top: -5px;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.pull-table {
	float: left;
	margin-right: 10px;
}
/* end space and position */

/*** start form styling */
.bordered {
	border: 1px solid #C8C8C8;
}

.form {	
	color: #666;
	margin: 2px;
	background: #fff !important;
	padding: 10px 15px 10px 11px !important;
}

.field {
	text-align: right;
}

/* webkit only to align input form */
input {
	padding: 3px;
}

input, select {
	padding-top: 6px;
	padding-bottom: 6px;
	color: #5D5D5D;
	*margin-left: 2px;
}

input[type="text"], input[type="textarea"], input[type="password"], select, textarea {
	border: 1px solid #B8B8B8;
}

input[type="text"]:focus, input[type="textarea"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
	border: 1px solid #0072C6;
}

input.disabled {
	cursor: not-allowed;
}

.calendar {
	background: url("calendar.png") no-repeat scroll 3px 7px;
	background-color: #fff;
	padding-left:21px;
}

.form-action {
	padding-top: 10px;
	padding-bottom: 10px;
}

.formblock {
	text-align: left;
}

.formblock label {
	display: block;
	color: #777;
	text-align: left;
}

.formblock input {
	margin-bottom: 5px;
}

.vtop {
	vertical-align: top;
}
/* end form styling */

/*** start header styling */
h2, h1 {
	color: #EB3C00;
	font-family: "Segoe UI Light", "Open Sans Light", Tahoma, Verdana, Arial, sans-serif;
	font-weight: normal;
	border-bottom: 1px solid #D2D2D2;
	line-height: 1.25;
	font-size: 1.7em;
	*margin-top: 10px;
}
h1 {
	text-transform: uppercase;
}

h4 {
	*margin-top: 10px;
	*margin-bottom: 5px;
	color: #E3591E;
	font-size: 120%;
	margin-bottom: 10px;
}
/* end header styling */

/*** start button styling */
button {
	background-color: #2672EC;
	border: 1px solid #2672EC;
	color: white;
	padding: 5px 20px;
	*margin-right: 2px;
	cursor: pointer;
}

button:hover {
	background-color: #0652CC;
}

button.btn-danger {
	background-color: #DA3B01;
	border: 1px solid #DA3B01;
	color: white;
	padding: 5px 20px;
	*margin-right: 2px;
	cursor: pointer;
}
button.green {
	background-color: #008A00;
	border: 1px solid #008A00;
	color: white;
	padding: 5px 20px;
	*margin-right: 2px;
	cursor: pointer;
}

button.green:hover {
	background-color: #007233;
}

button.btn-danger {
	background-color: #DA3B01;
	border: 1px solid #DA3B01;
	color: white;
	padding: 5px 20px;
	*margin-right: 2px;
	cursor: pointer;
}

button.btn-danger:hover {
	background-color: #BF2F27;
}

button.alt {
	background-color: #303030;
	border: 1px solid #303030;
	color: white;
	padding: 5px 20px;
	*margin-right: 2px;
	cursor: pointer;
}

button.alt:hover {
	background-color: #202020;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	button {
		padding: 6px 20px;
	}

	button.alt {
		padding: 6px 20px;
	}

	button.btn-danger {
		padding: 6px 20px;
	}

	button.green {
		padding: 6px 20px;
	}
}
/* end button styling */

a.urlbtn-green {
	background-color: #5DAA6B;
	font-size: 13px;
	border: 1px solid #297E39;
	border-bottom: 1px solid #1A6E2A;
	box-shadow: 0 1px #8AC294 inset;
	color: white;
	padding: 1px 5px;
	text-shadow: 0 -1px 0 #297E39;
	font: inherit;
	*margin-right: 2px;
	cursor: pointer;
	float: left;
	clear: both;
}

a.urlbtn-green:hover {
	background-color: #7FBC8B;
	box-shadow: 0 1px #ACD4B5 inset;
}

a.urlbtn-green:active {
	background-color: #37693E;
	box-shadow: 0 1px #4E9658 inset;
}

/*** start table styling */
table {
	border-spacing: 0;
}

th {
	background-color: #d2d2d2;
	color: #000;
	font-family: "Segoe UI Light", "Open Sans Light", Tahoma, Verdana, Arial, sans-serif;
	font-weight: normal;
	line-height: 3em;
	font-size: 1.2em;
}

.idfield {
	color: #000;
	text-align: right;
	font-family: "Segoe UI Light", "Open Sans Light", Tahoma, Verdana, Arial, sans-serif;
}

.maxwidth {
	width: 100%;

}

.borderedtable {
	margin-bottom: 7px;
	max-width: 980px;
	border-collapse: collapse;
}

.borderedtable td, .borderedtable th {
	vertical-align: top;
	padding: 1px 10px 1px 5px !important;
	border: 1px solid #C8C8C8;
}

.borderedtable th {
	text-align: left;
}

.borderedtable tr {	
	line-height: 20px;
}

.displaytable {
	width: 943px;
	margin-top: 7px;
	border-collapse: collapse;
	margin-bottom: 14px;
}

.displaytable td, .displaytable th {
	vertical-align: top;
	padding: 1px 10px 1px 5px !important;
	border: 3px solid #fff;
	border-left: none;
}

.displaytable th {
	text-align: center;
}

.displaytable th.right {
	text-align: right;
}

.displaytable tr {	
	line-height: 20px;
}

.tr-alt {
	background-color: #f5f5f5;
}

.viewtable th {
	background-color: #f5f5f5;
	line-height: 1.7em;
	text-align: left;
	vertical-align: top;
}

.viewtable td {
	padding-top: 4px;
	vertical-align: middle;
}

.viewtable th, td {
	padding-left: 5px;
	border-collapse: collapse;
}
/* end table styling */

/*** start navigation bar styling */
.navbar {
	background-color: #262626;
	display: inline-block;
	float: left;
	min-width: 960px;
	width: 100%;
	min-height: 36px;
	margin: 0;
	margin-bottom: 24px;
	position: fixed;
}
.navbar .control-left {
	float: left;
	padding-left: 20px;
}

.navbar .control {
	float: right;
	padding: 8px;
	padding-right: 20px;
}

/* webkit only to align input form */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.navbar .control {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.navbar .control .menu {
	color: #fff;
	float: left;
}

.navbar .control .menu a {
	color: #fff;
	*margin: 0 10px 0 0;
	outline: none;
	text-decoration: none;
	vertical-align: middle;
	padding: 11px 8px 10px 8px;
	height: 36px;
	margin: 0;
}

.navbar .control .menu a:hover {
	background-color: #737373;
}

.nav-divider {
	font-size: 1.3em;
	color: #999;
}

.header-img {
	height: 36px;
}

@media only screen and (max-width: 1130px) {
	.header-img {display:none}
}

/* end navigation bar styling */

/*** start width class */
.input-small {
	width: 45px;
}

.span1 {
	width: 60px;
}

.span1_5 {
	width: 75px;
}

.span2 {
	width: 95px;
}

.span3 {
	width: 120px;
}

.span3_5 {
	width: 130px;
}

.span4 {
	width: 180px;
}

.span5 {
	width: 250px;
}

.span6 {
	width: 360px;
}

textarea.span6 {
	width: 364px;
}

/* webkit only to align input form */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	textarea.span6 {
		width: 362px;
	}
}

.span7 {
	width: 460px;
}
/* end width class */

/*** start navigation tabs */
.nav-tabs {
	display: block;
	margin: 0;
	padding: 0;
}

.nav-tabs li {
	list-style-type: none;
	float: left;
	border-bottom: 1px solid #0072C6;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav-tabs li a {
	outline: none;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	color: #505050;
}

.nav-tabs li a:hover {
	padding-bottom: 6px;
	border: 1px solid #0072C6;
	border-bottom: 0;
	padding-right: 14px;
	padding-left: 15px;
	padding-top: 5px;
	margin-left: -1px;
}

.nav-tabs .active {
	border: 1px solid #0072C6;
	margin-left: -1px;
	border-bottom: 0;
	font-weight: bold;
}

.nav-tabs .active a:hover {
	border: none;
	border-bottom: 0;
	padding-top: 5px;
	padding-left: 16px;
	padding-right: 15px;
}

/* end navigation tabs */

/*** start breadcrumb */
.breadcrumb {
	display: block;
	margin: 0;
	padding: 0;
}

.breadcrumb li {
	height: 20px;
	list-style-type: none;
	float: left;
	margin-bottom: 5px;
}

.breadcrumb .active {
	color: #666;
}
/* end breadcrumb */

/*** style alert styling */
.alert {
	margin-bottom: 10px;
}

.alert {
	
	color: #dfb304;
}

.alert-error {
	
	color: #C85305;
}

.alert-success {
	
	color: #5A8E4A;
}

.alert-info {
	
	color: #000;
}
/* end alert styling */

/* pagination */
.pagination {
  margin: 0;
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  *zoom: 1;
}

.pagination a,
.pagination span {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  background-color: #ffffff;
}

.pagination a:hover {
  padding-left: 15px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 7px;
  margin-left: -1px;
  border: 1px solid #0072C6;
}

.pagination .current,
.pagination .current a,
.pagination .current a:hover,
.pagination .current span {
  border: 1px solid #0072C6;
  padding-left: 15px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 7px;
  margin-left: -1px;
  color: #999999;
  cursor: default;
}

.pagination .disabled,
.pagination .disabled a,
.pagination .disabled a:hover
.pagination .disabled span {
  color: #999999;
  cursor: default;
  background-color: transparent;
}
/* end pagination */

/* login form */
.login-form{
	margin-top: 20px;	
}

.login-input {
	margin-bottom: 2px;
}

.login-action {
	margin-top: 16px;
	margin-bottom: 60px;
}
.calbox {
	border: 1px solid #A80F22;
	padding: 5px;
	vertical-align: top;
}

.today {
	clear: both;
	display: block;
	color: #aaa;
}

.day {
	margin-top: -5px;
	display: block;
	margin-bottom: 6px;
	color: #C85305;
}

.bigdate {
	font-size: 64px;
	text-align: center;
	clear: both;
	display: block;
	padding-top: 18px;
	padding-bottom: 18px;
}

.monthyear {
	clear: both;
	display: block;
	text-align: right;
}